<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpCookies httpOnlyCookies="true"/>         
    <identity impersonate="false" />                      
  </system.web>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <httpProtocol>
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff"/>
        </customHeaders>
      </httpProtocol>
      <aspNetCore processPath="dotnet"
          arguments=".\messaging.dll"
          stdoutLogEnabled="false"
          stdoutLogFile=".\logs\stdout"
          hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development"/>
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>